@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&family=Luxurious+Roman&family=Modern+Antiqua&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Viaoda+Libre&family=Yeon+Sung&display=swap');

/* Green Navbar */
.mx-auto.px-4.text-sm {
    background-color: #a2a454;
}

/* Changes background to beige */
.bg-background {
    background: #f9f2e2 !important;
}

/* Changes lines to green */
.border-b {
    border-color: #a2a454 !important;
}
article {
    border-color: #a2a454 !important;
}

/* Changes website footnotes to green */
p.text-xs.leading-5.text-primary-muted {
    color: #a2a454 !important;
}
.mt-8.border-t.border-gray-900\/10.pt-8.sm\:mt-10.lg\:mt-12 {
    border-color: #a2a454 !important;
}

hr {
    border-color: #a2a454 !important;
}

span {
    font-family: 'Cinzel Decorative';
    font-weight: 400 !important;
    color: #363607 !important;
}

header.relative.bg-neutral-50 {
    background-color: #DAD6B0 !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cormorant Infant';
    color: #363607 !important;
}

.cinzel {
  font-family: 'Cinzel Decorative';
}

svg.lucide.lucide-menu.size-6.block.group-data-\[open\]\:hidden {
    color: #363607;
}

p {
    font-family: Inter
}
