@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&display=swap');

/* Green Navbar */
.mx-auto.px-4.text-sm {
    background-color: #a2a454;
}

/* Changes background to beige */
.bg-background {
    background: #f9f2e2 !important;
}

/* Changes lines to green */
.border-b {
    border-color: #a2a454 !important;
}
article {
    border-color: #a2a454;
}

/* Changes website footnotes to green */
p.text-xs.leading-5.text-primary-muted {
    color: #a2a454;
}
.mt-8.border-t.border-gray-900\/10.pt-8.sm\:mt-10.lg\:mt-12 {
    border-color: #a2a454;
}

span {
    font-family: 'Cormorant Infant';
}

h1 {
    font-family: 'Cormorant Infant';
}
