/* Green Navbar */
.mx-auto.px-4.text-sm {
    background-color: #a2a454;
}

/* Changes background to beige */
.bg-background {
    background: #f9f2e2 !important;
}

/* Changes lines to green */
.border-b {
    border-color: #a2a454 !important;
}
